In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from random import *
from collections import Counter
from sklearn import tree
from sklearn.metrics import accuracy_score
#from sklearn.neighbors import BinaryTree
import sklearn.neighbors 
import pickle
#X = data[['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10','age','accuracy','source']]

def model_storage():
    global filename
    data = pd.read_csv("C:/Users/gokul/Documents/Projects/Career Advisor/16PF/data.csv", sep="\t")
    x = Counter(list(data['country']))

    temp = []
    for i in range(49159):
        temp.append(randint(1,10))

    temp = np.array(temp)
    data['Profession'] = np.zeros((len(data),1))

    temp2 = np.zeros((len(data),1))
    temp3 = temp2
    temp2 = temp2.astype('str')

    temp2[temp==1] = "Teacher"
    temp2[temp==2] = "Doctor"
    temp2[temp==3] = "Artist"
    temp2[temp==4] = "Army"
    temp2[temp==5] = "Social Service"
    temp2[temp==6] = "Actor"
    temp2[temp==7] = "Software Engineer"
    temp2[temp==8] = "Salesman"
    temp2[temp==9] = "Marketing"
    temp2[temp==10] = "Writer"

    temp2 = temp2.astype('str')

    data['Profession'] = temp2

    X_temp = data[['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10','age','accuracy','source']]
    y = temp
    mu = X_temp.mean(axis=0)
    stdv = X_temp.std(axis = 0)
    X = (X_temp - mu)/stdv
    #X.shape
    # from sklearn.decomposition import PCA
    # pca = PCA(n_components=100, svd_solver='full')
    # pca.fit(X_temp)
    # X = pca.transform(X_temp)

    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.10, random_state=324)


    tree = sklearn.neighbors.KDTree(X, leaf_size=30, metric = 'euclidean')
    filename = 'finalized_model.sav'
    pickle.dump((tree,data,X), open(filename, 'wb'))

filename= None
model_storage()

In [ ]:
#!pip install SimpleHTTPServer
!python -m http.server 8000
import SimpleHTTPServer
import SocketServer

PORT = 8000

Handler = SimpleHTTPServer.SimpleHTTPRequestHandler

httpd = SocketServer.TCPServer(("", PORT), Handler)

print ("serving at port", PORT)
httpd.serve_forever()

In [1]:
!python -m SimpleHTTPServer

C:\Users\gokul\Anaconda3\python.exe: No module named SimpleHTTPServer

In [2]:
import json
def func_call(i):
    global filename
    loaded_model,data,X = pickle.load(open(filename, 'rb'))
    dist, ind = loaded_model.query(X[i:i+1], k=4)
    rank1 = data.loc[int(ind[:,1])][-1]
    rank2 = data.loc[int(ind[:,2])][-1]
    rank3 = data.loc[int(ind[:,3])][-1]
    #print(rank1,rank2,rank3)
    setva = set((rank1,rank2,rank3))
    retdata = {}
    for i in range(len(setva)):
        retdata["Option" + str(i+1)] = setva.pop()
    tee = json.dumps(retdata)
    loaded_r = json.loads(tee)
    return loaded_r
tee = func_call(9)

In [3]:
tee

{'Option1': 'Software Engineer', 'Option2': 'Actor', 'Option3': 'Army'}

In [4]:
from flask import Response, Flask, request
from flask import Flask, request
from flask_restful import Resource, Api
from sqlalchemy import create_engine
from json import dumps
from flask_jsonpify import jsonify
from pandas.io.json import json_normalize as jsy 

app = Flask(__name__)
@app.route('/query', methods=['GET', 'POST'])
def test():
    from_message = request.json
    from_message = {'userId': 'adarsh.vijayaraghavan@rutgers.com', 'qAndA': [{'qID': '5adc4fdbcabc0e29b858f305', 'answer': 'on'}, {'qID': '5adc5004cabc0e29b858f30b', 'answer': 'on'}, {'qID': '5adc5013cabc0e29b858f311', 'answer': 'on'}, {'qID': '5adc5022cabc0e29b858f317', 'answer': 'on'}, {'qID': '5adc5031cabc0e29b858f31d', 'answer': 'on'}, {'qID': '5adc503fcabc0e29b858f323', 'answer': 'on'}, {'qID': '5adc504bcabc0e29b858f329', 'answer': 'on'}, {'qID': '5adc5058cabc0e29b858f32f', 'answer': 'on'}, {'qID': '5adc5064cabc0e29b858f335', 'answer': 'on'}, {'qID': '5adc50b1cabc0e29b858f33b'}, {'qID': '5adc50c7cabc0e29b858f33d'}, {'qID': '5adc50edcabc0e29b858f33f', 'answer': 'on'}, {'qID': '5adc5101cabc0e29b858f347', 'answer': 'on'}, {'qID': '5adc511ecabc0e29b858f34d', 'answer': 'on'}, {'qID': '5adc512dcabc0e29b858f358', 'answer': 'on'}]}
    print(from_message)
    #pd1 = jsy(Jobs_json)
    #pd2 = jsy(pd1, "questions")
    #ques = pd2.T
    #data = pd.concat(pd1,data)
    #func_call(data)
    tee = func_call(980)
    return "%s" %tee

In [ ]:
app.run()

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [22/Apr/2018 09:11:51] "POST /query HTTP/1.1" 200 -

{'userId': 'adarsh.vijayaraghavan@rutgers.com', 'qAndA': [{'qID': '5adc4fdbcabc0e29b858f305', 'answer': 'on'}, {'qID': '5adc5004cabc0e29b858f30b', 'answer': 'on'}, {'qID': '5adc5013cabc0e29b858f311', 'answer': 'on'}, {'qID': '5adc5022cabc0e29b858f317', 'answer': 'on'}, {'qID': '5adc5031cabc0e29b858f31d', 'answer': 'on'}, {'qID': '5adc503fcabc0e29b858f323', 'answer': 'on'}, {'qID': '5adc504bcabc0e29b858f329', 'answer': 'on'}, {'qID': '5adc5058cabc0e29b858f32f', 'answer': 'on'}, {'qID': '5adc5064cabc0e29b858f335', 'answer': 'on'}, {'qID': '5adc50b1cabc0e29b858f33b'}, {'qID': '5adc50c7cabc0e29b858f33d'}, {'qID': '5adc50edcabc0e29b858f33f', 'answer': 'on'}, {'qID': '5adc5101cabc0e29b858f347', 'answer': 'on'}, {'qID': '5adc511ecabc0e29b858f34d', 'answer': 'on'}, {'qID': '5adc512dcabc0e29b858f358', 'answer': 'on'}]}

In [262]:
from_message = {'userId': 'adarsh.vijayaraghavan@rutgers.com', 'qAndA': [{'qID': '5adc4fdbcabc0e29b858f305', 'answer': 'on'}, {'qID': '5adc5004cabc0e29b858f30b', 'answer': 'on'}, {'qID': '5adc5013cabc0e29b858f311', 'answer': 'on'}, {'qID': '5adc5022cabc0e29b858f317', 'answer': 'on'}, {'qID': '5adc5031cabc0e29b858f31d', 'answer': 'on'}, {'qID': '5adc503fcabc0e29b858f323', 'answer': 'on'}, {'qID': '5adc504bcabc0e29b858f329', 'answer': 'on'}, {'qID': '5adc5058cabc0e29b858f32f', 'answer': 'on'}, {'qID': '5adc5064cabc0e29b858f335', 'answer': 'on'}, {'qID': '5adc50b1cabc0e29b858f33b'}, {'qID': '5adc50c7cabc0e29b858f33d'}, {'qID': '5adc50edcabc0e29b858f33f', 'answer': 'on'}, {'qID': '5adc5101cabc0e29b858f347', 'answer': 'on'}, {'qID': '5adc511ecabc0e29b858f34d', 'answer': 'on'}, {'qID': '5adc512dcabc0e29b858f358', 'answer': 'on'}]}
print(from_message)
pd1 = jsy(from_message)
pd2 = jsy(pd1, "qAndA")
#ques = pd2.T
#data = pd.concat(pd1,data)
#func_call(data)
pd2

{'userId': 'adarsh.vijayaraghavan@rutgers.com', 'qAndA': [{'qID': '5adc4fdbcabc0e29b858f305', 'answer': 'on'}, {'qID': '5adc5004cabc0e29b858f30b', 'answer': 'on'}, {'qID': '5adc5013cabc0e29b858f311', 'answer': 'on'}, {'qID': '5adc5022cabc0e29b858f317', 'answer': 'on'}, {'qID': '5adc5031cabc0e29b858f31d', 'answer': 'on'}, {'qID': '5adc503fcabc0e29b858f323', 'answer': 'on'}, {'qID': '5adc504bcabc0e29b858f329', 'answer': 'on'}, {'qID': '5adc5058cabc0e29b858f32f', 'answer': 'on'}, {'qID': '5adc5064cabc0e29b858f335', 'answer': 'on'}, {'qID': '5adc50b1cabc0e29b858f33b'}, {'qID': '5adc50c7cabc0e29b858f33d'}, {'qID': '5adc50edcabc0e29b858f33f', 'answer': 'on'}, {'qID': '5adc5101cabc0e29b858f347', 'answer': 'on'}, {'qID': '5adc511ecabc0e29b858f34d', 'answer': 'on'}, {'qID': '5adc512dcabc0e29b858f358', 'answer': 'on'}]}

TypeError: string indices must be integers

In [124]:
data = pd.read_csv("C:/Users/gokul/Documents/Projects/Career Advisor/16PF/data.csv", sep="\t")
data.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,P7,P8,P9,P10,age,gender,accuracy,country,source,elapsed
0,1,4,2,3,3,2,3,4,4,3,...,1,2,5,2,17,1,92,US,6,914
1,4,3,4,3,4,4,4,4,2,2,...,3,2,2,2,37,1,100,US,1,891
2,3,4,4,4,4,4,4,3,2,2,...,2,3,3,3,31,1,80,US,6,903
3,4,5,4,4,4,3,3,2,2,2,...,2,3,4,4,32,1,93,US,1,806
4,4,0,4,4,4,3,5,1,2,4,...,4,2,3,2,46,2,87,NZ,1,1826

In [140]:
import requests
import json

headers = {"Authorization": "Bearer $2a$12$kLOrQShABuEtl3qIcD69Bu1tPQKg0eWvyHLaoCo3L81YkSakH1QEK","Content-Type":"application/json"}
r = requests.get("https://hackicims.com/api/v1/companies/2049", headers=headers)

payload = json.JSONEncoder().encode({ "title": "computer engineer"})
r = requests.post("https://hackicims.com/api/v1/companies/2049/jobs", data=payload, headers=headers)

In [155]:
r.headers
2008

{'Server': 'nginx/1.12.2', 'Date': 'Sun, 22 Apr 2018 06:50:00 GMT', 'Content-Length': '0', 'Connection': 'keep-alive', 'X-Powered-By': 'Express', 'location': 'http://ec2-54-144-123-186.compute-1.amazonaws.com:8080/api/v1/companies/2049/jobs/2008'}

In [233]:
from flask import Response, Flask, request
from flask import Flask, request
from flask_restful import Resource, Api
from sqlalchemy import create_engine
from json import dumps
from flask_jsonpify import jsonify
from pandas.io.json import json_normalize as jsy 
import requests
import json

ap = Flask(__name__)
@ap.route('/job', methods=['GET', 'POST'])
def jobs():
    xx = request.json
    yy = xx['title']
    #yy = yy.as_type('str')
    print(type(yy))
    headers = {"Authorization": "Bearer $2a$12$kLOrQShABuEtl3qIcD69Bu1tPQKg0eWvyHLaoCo3L81YkSakH1QEK","Content-Type":"application/json"}
    r = requests.get("https://hackicims.com/api/v1/companies/2052", headers=headers)
    payload = json.JSONEncoder().encode({ "id": 2037, "title": "Artist"})
    r = requests.get("https://hackicims.com/api/v1/companies/2052/jobs", data=payload, headers=headers)
    xxx = r.content
    yyy = json.loads(xxx)
    zzz = pd.Series(yyy).apply(lambda x: eval(str(x)))
    ls = []
    for each in zzz:
        ls.append(each['title'])
        if str(each['title']) == str(xx['title']):
            print(each)
    numar = np.array(ls)
    print(numar)
    print(numar[numar==xx['title']])
    return "%s" %tee

In [234]:
ap.run()

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)

<class 'str'>

127.0.0.1 - - [22/Apr/2018 08:06:52] "POST /job HTTP/1.1" 200 -

[]

In [218]:
tem = 'Artist'
type(tem)

str

In [ ]:
def jobfinder(sent):  
    payload = json.JSONEncoder().encode({ "id": 2037, "title": "Artist"})
    r = requests.get("https://hackicims.com/api/v1/companies/2052/jobs", data=payload, headers=headers)
    xxx = r.content
    yyy = json.loads(xxx)
    zzz = pd.Series(yyy).apply(lambda x: eval(str(x)))

    for each in zzz:
        if each['title'] == str(sent):
            print(each)
            
#jobfinder("Doctor")

In [191]:
def oielk():
    headers = {"Authorization": "Bearer $2a$12$kLOrQShABuEtl3qIcD69Bu1tPQKg0eWvyHLaoCo3L81YkSakH1QEK","Content-Type":"application/json"}
    r = requests.get("https://hackicims.com/api/v1/companies/2052", headers=headers)
    payload = json.JSONEncoder().encode({ "id": 2037, "title": "Artist"})
    r = requests.get("https://hackicims.com/api/v1/companies/2052/jobs", data=payload, headers=headers)
    xxx = r.content
    yyy = json.loads(xxx)
    zzz = pd.Series(yyy).apply(lambda x: eval(str(x)))
    for each in zzz:
        #print(each)
        if each['title'] == str('Artist'):
            print(each)
           
oielk()

{'id': 2021, 'title': 'Artist'}
{'id': 2022, 'title': 'Artist'}
{'id': 2023, 'title': 'Artist'}
{'id': 2024, 'title': 'Artist'}
{'id': 2025, 'title': 'Artist'}
{'id': 2026, 'title': 'Artist'}
{'id': 2027, 'title': 'Artist'}
{'id': 2028, 'title': 'Artist'}
{'id': 2029, 'title': 'Artist'}
{'id': 2030, 'title': 'Artist'}

In [90]:
import requests
import json
headers = {"Authorization": "Bearer $2a$12$kLOrQShABuEtl3qIcD69Bu1tPQKg0eWvyHLaoCo3L81YkSakH1QEK","Content-Type":"application/json"}
r = requests.get("https://hackicims.com/api/v1/companies/2052", headers=headers)

for i in range(1,2):
    payload = json.JSONEncoder().encode({ "title": "Writer"})
    r = requests.post("https://hackicims.com/api/v1/companies/2052/jobs", data=payload, headers=headers)
    print(r.headers)

{'Server': 'nginx/1.12.2', 'Date': 'Sun, 22 Apr 2018 08:08:58 GMT', 'Content-Length': '0', 'Connection': 'keep-alive', 'X-Powered-By': 'Express', 'location': 'http://ec2-54-144-123-186.compute-1.amazonaws.com:8080/api/v1/companies/2052/jobs/2101'}